<nav class="w-full h-16 flex justify-between items-center gap-4 px-4">
  <div class="flex-1">
    <span class="font-bold text-2xl text-[#FF385C]" an>Airbnb</span>
  </div>
  <div class="flex-3 flex justify-center">
    <a
      class="<%= pageTitle==='home'?'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition duration-150 rounded-[8px] p-1 px-3 font-medium"
      href="/"
      >Home</a
    >
    <a
      class="<%= pageTitle==='addHome'?'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition duration-150 rounded-[8px] p-1 px-3 font-medium"
      href="/host/add-home"
      >Add Home</a
    >
  </div>
  <div class="flex-1 h-16"></div>
</nav>
