<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Home</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="">
    <main class="flex justify-center items-center h-screen">
      <form
        action="/host/add-home"
        class="w-[50vw] gap-5 p-4 rounded-3xl h-fit bg-blue-300 flex flex-col"
        method="POST"
      >
        <h1 class="text-center text-4xl font-bold">Register your home</h1>
        <input
        class="outline-none bg-white h-10 rounded-3xl px-5"
          type="text"
          name="houseName"
          placeholder="Enter name of the house"
        />
        <input
          type="submit"
          class="w-full cursor-pointer font-medium hover:bg-blue-400 rounded-3xl h-10 transition duration-300 active:scale-95 active:duration-100"
        />
      </form>
    </main>
  </body>
</html>
