<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../partials/pagetitle') %>
  <link rel="stylesheet" href="/output.css" />
</head>

<body class="">
  <%- include('../partials/nav') %>
  <main class="">
      
      <div class="border-t-[1px] border-t-gray-300 px-3 overflow-y-auto">
        <h1 class=" text-center p-6 rounded-4xl font-medium text-2xl ">
         Favourite List
        </h1>
        <%- include('../partials/card-fav') %>
      </div>
    </main>
</body>

</html>