<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/pagetitle') %>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="">
    <%- include('../partials/nav') %>
    <main class="flex justify-center items-center mt-32">
      <form
        action="/host/add-home"
        class="w-[40vw] gap-5 p-4 rounded-3xl h-fit outline  flex flex-col"
        method="POST"
      >
        <h1 class="text-center text-4xl font-bold">Register your home</h1>
        <div class="flex flex-col gap-2">
          <label class="text-center text-2xl">Enter Details</label>
          <input
            required
            minlength="7"
            class="outline-none w-full bg-white h-10 rounded-3xl px-5"
            type="text"
            name="houseName"
            placeholder="Enter name of the house"
          />
          <input required name="price"
            class="outline-none w-full bg-white h-10 rounded-3xl px-5"
            type="number"
            placeholder="Enter price"
          />
          <input required name="location"
            class="outline-none w-full bg-white h-10 rounded-3xl px-5"
            type="text"
            placeholder="Enter location"
          />
          <input required name="imageLink"
            class="outline-none w-full bg-white h-10 rounded-3xl px-5"
            type="text"
            placeholder="Enter image link"
          />
        </div>
        <input
          type="submit"
          class="w-full cursor-pointer font-medium hover:bg-[#e73455] text-white bg-[#FF385C] rounded-3xl h-10 transition duration-300 active:scale-95 active:duration-100"
        />
      </form>
    </main>
  </body>
</html>
