<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/pagetitle') %>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="">
    <%- include('../partials/nav') %>
    <main class="flex justify-center items-center mt-32">
      <form
        action="/host/add-home"
        class="w-[50vw] gap-5 p-4 rounded-3xl h-fit items-center flex flex-col"
        method="POST"
      >
        <h1 class="text-center text-orange-500 text-4xl font-bold">
          Registered successful
        </h1>

        <a href="/host/add-home" >
          <input
            value="Register more"
            class="cursor-pointer text-center font-medium outline-none hover:bg-orange-300 rounded-3xl h-10 transition duration-300 active:scale-95 active:duration-100"
          />
        </a>
        <a href="/">
          <input
            value="Click to go home page"
            class="cursor-pointer text-center font-medium outline-none hover:bg-green-300 rounded-3xl h-10 transition duration-300 active:scale-95 active:duration-100"
          />
        </a>
      </form>
    </main>
  </body>
</html>
